.footer-icon {
  color: #007bff; /* Azul original */
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-icon:hover {
  color: #0056b3; /* Azul más oscuro al pasar el cursor */
  transform: scale(1.2); /* Aumenta ligeramente el tamaño */
}

.footer-link {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #ddd;
}
