* {
    box-sizing: border-box;
}
/* Estilo general del footer */
.footer {
    background-color: #264653;
    color: white;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 0.9rem;
}

.footer .container {
    max-width: 75em;
    margin: 0 auto;
    /* padding: 0; */
    margin-top: 10px;
}

/* Estilo de las columnas del footer */
.footer img {
    max-width: 100%;
    height: auto;
}

/* Navegación del footer */
.footer ul {
    padding: 0;
    list-style: none;
    font-size: 1rem;
    /* padding-top: 1%; */
    
}

.footer ul li {
    margin: 10px 0;
}

.footer ul li a {
    text-decoration: none;
    color: white;
}

.footer ul li a:hover {
    color: #BDB76B;
}

/* Información de contacto */
.footer .col-md-3 p {
    margin: 10px 0;
    font-size: 1rem;
}

/* Redes sociales */
.footer .social-icons {
    display: flex;
    flex-wrap: wrap;
  }

.footer .social-icons a {
    color: white;
    font-size: 2.2rem;
    margin: 1em 0.3em; 
    transition: color 0.5s ease;
}

.footer .social-icons a:hover {
    color: #BDB76B;
}

/* Parte inferior del footer */
.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0; /* Reducido de 10px 0 */
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 1rem;
}

.footer-bottom p, .footer-bottom a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.footer-bottom a:hover {
    color: #BDB76B;
}

.footer .row {
    margin-bottom: 0; 
}


.col-md-3.text-center.text-md-left img {
    width: 160px !important; /* Nuevo tamaño */
    transition: transform 0.3s;
}

.col-md-3.text-center.text-md-left img:hover {
    transform: scale(1.05);
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 1024px) {
    .footer .col-md-3 {
        flex: 1 1 48%; /* Dos columnas en tabletas */
    }
}

@media (max-width: 768px) {
    .footer .col-md-3 {
        flex: 1 1 100%; /* Una columna en móviles */
        text-align: center;
    }

    .footer .social-icons {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
    }

    .footer-bottom p, .footer-bottom a {
        margin: 5px 0;
    }

    .footer .social-icons a {
        margin: 10px 5px;
        font-size: 1.2rem;
    }
}