/* Estilo general del footer */
.footer {
    background-color: #264653;
    color: white;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    font-size: 0.9rem;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilo de las columnas del footer */
.footer img {
    max-width: 100%;
    height: auto;
}

/* Navegación del footer */
.footer ul {
    padding: 0;
    list-style: none;
    font-size: 1rem;
    padding-top: 1%;
    
}

.footer ul li {
    margin: 10px 0;
}

.footer ul li a {
    text-decoration: none;
    color: white;
}

.footer ul li a:hover {
    color: #BDB76B;
}

/* Información de contacto */
.footer .col-md-3 p {
    margin: 10px 0;
    font-size: 1rem;
}

/* Redes sociales */
.footer .social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.footer .social-icons a {
    color: white;
    font-size: 2rem;
    margin: 2% 40px; /* Reducido de 30px para mejor ajuste en columna más pequeña */
    transition: color 0.5s ease;
    display: block;
}

.footer .social-icons a:hover {
    color: #BDB76B;
}

/* Parte inferior del footer */
.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 2px; /* Original: 50px */
    padding: 1px 0; /* Original: 10px 0 */    
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 1rem;
    margin-top: 50px;

}

.footer-bottom p {
    margin: 0;
    font-size: 1rem;
}

.footer-bottom a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.footer-bottom a:hover {
    color: #BDB76B;
}

/* Estilo responsivo para pantallas pequeñas */
@media (max-width: 768px) {
    .footer .row > div {
        margin-bottom: 20px; /* Espacio entre columnas en móvil */
        text-align: center;
    }

    .footer .social-icons {
        justify-content: center;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 5px;
        text-align: center;
    }
}