.home {
  padding-left: 20%; /* Padding en el lateral izquierdo */
  padding-right: 20%; /* Padding en el lateral derecho */
}

.main-title {
  padding-top: 4%;
  color: #BDB76B; /* Verde que combina con el tema ecológico */
  font-weight: bold; /* Opcional: para hacerlo más destacado */
}


/* Estilo específico para los párrafos dentro de contenido */
.home p {
  font-size: 2rem; /* Tamaño mayor para los párrafos */
}

.text-center {
  text-align: center;
}

.row {
  margin-bottom: 50px;
}

.product-image {
  max-width: 100%;
  height: auto;
}

.btn-primary {
  background-color: #BDB76B;
  font-size: 1.2rem;
  border: none;
  margin-bottom: 10px
  
}

.btn-primary:focus {
    background-color: #264653 !important;
    box-shadow: none !important;
    outline: none !important;
}

.btn-primary:hover {
  background-color: #264653;
}

.product-image {
  transition: transform 1s ease; /* Suaviza la transición */
}

.product-image:hover {
  transform: scale(1.1); /* Aumenta el tamaño de la imagen al pasar el mouse */
}



/* Responsividad para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .home {
    padding-left: 5%;
    padding-right: 5%;
  }

  /* Ajustes para pantallas pequeñas */
  .home h1, .home p {
    font-size: 1.5rem; /* Ajuste del tamaño en pantallas pequeñas */
  }
}
