.refund-page {
  padding: 30px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.8;
  background-color: #f3f8f7; /* Fondo suave */
  color: #264653;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0px 4px 10px #BDB76B; /* Sombra suave */
  max-width: 800px; /* Máxima anchura del contenido */
  margin: 6rem auto 20px; /* Aumenta el margen superior en rem */
}

  
  .refund-page h1 {
    color: #BDB76B; /* Color llamativo */
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px; /* Espaciado entre letras */
    border-bottom: 3px solid #BDB76B; /* Línea debajo */
    padding-bottom: 10px;
  }
  
  .refund-page h2 {
    color: #BDB76B;
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: capitalize;
  }
  
  .refund-page ul {
    list-style-type: none;
    padding: 0;
  }
  
  .refund-page ul li {
    padding: 12px 0;
    font-size: 1.1rem;
    border-bottom: 1px solid #ddd; /* Líneas separadoras entre ítems */
    transition: background-color 0.3s ease; /* Efecto suave */
  }
  
  
  .refund-page p {
    color: #264653; /* El color que prefieras */
    font-size: 1.1rem;
  }
  

  .refund-page a {
    color: #BDB76B;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .refund-page a:hover {
    color: #1d6f2b; /* Cambio de color al pasar el mouse */
  }
  
  /* Respuesta en pantallas pequeñas */
  @media screen and (max-width: 768px) {
    .refund-page {
      padding: 20px;
      max-width: 100%;
    }
  
    .refund-page h1 {
      font-size: 2rem;
    }
  
    .refund-page h2 {
      font-size: 1.4rem;
    }
  
    .refund-page ul li {
      font-size: 1rem;
    }
  
    .refund-page p {
      font-size: 1rem;
    }
  }
