/* Contenedor principal de la página de registro */
.register-container {
  padding: 40px;
  background-color: #f3f8f7; /* Fondo suave */
  color: #264653; /* Color de texto */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0px 4px 15px #BDB76B; /* Sombra suave */
  max-width: 650px; /* Máxima anchura del formulario */
  margin: 80px auto; /* Centrado horizontal y margen superior */
  text-align: center;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Título principal */
.register-container h2 {
  color: #264653; /* Color dorado para el título */
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

/* Mensajes de error */
.alert {
  margin-top: 15px;
  color: red;
  font-size: 1rem;
}

/* Estilo para los inputs */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #264653;
  border-radius: 8px;
  font-size: 1rem;
  transition: border 0.3s ease;
}

/* Animación al hacer foco en los inputs */
input[type="text"],
input[type="email"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
select:focus {
  border: 1px solid #BDB76B; 
  margin-bottom: 20px;
  outline: none;
}

/* Estilo para los botones */
button[type="submit"],
button[type="button"] {
  width: 100%;
  padding: 12px;
  background-color: #264653; /* Color de fondo oscuro */
  color: #264653;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Efecto de hover y foco en los botones */
button[type="submit"]:hover,
button[type="button"]:hover {
  background-color: #BDB76B; /* Cambio de color a dorado */
  transform: scale(1.05); /* Efecto de aumento suave */
}

/* Estilo de los íconos del botón para la contraseña */
.input-group-append .btn-light {
  border: none;
  background-color: transparent;

}

.register-container label {
  display: block;
  text-align: left;
  font-weight: bold; 
  margin-bottom: -5px; 
}

/* Contenedor principal de los inputs con el icono de contraseña */
.input-group {
  display: flex;
  align-items: center;
  position: relative;
}

.input-group .form-control {
  width: calc(100% - 80px); /* Reduce el ancho para dejar espacio al botón */
  padding: 10px; /* Menor padding */
  margin: 10px 0;
  border: 1px solid #264653;
  border-radius: 8px;
  font-size: 0.9rem; /* Reducir tamaño de fuente */
  transition: border 0.3s ease;
}


/* Estilo en pantallas pequeñas */
@media screen and (max-width: 768px) {
  .register-container {
    padding: 20px;
    max-width: 100%;
  }

  .register-container h2 {
    font-size: 1.6rem;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"],
  select {
    padding: 10px;
    font-size: 0.9rem;
  }

  button[type="submit"],
  button[type="button"] {
    padding: 12px;
    font-size: 1rem;
  }
}
