/* Color del encabezado de la tabla */
.list-group-header {
    background-color: #A3B18A; /* Verde oliva suave */
    color: white;
    font-weight: bold;
    border-radius: 5px;
  }
  
  /* Color de fondo de los elementos de la tabla */
  .list-group-body {
    background-color: #f8f9fa; /* Un gris claro para contraste */
    border-bottom: 1px solid #ddd;
  }
  
  /* Color de los botones en verde oliva */
  .btn-custom {
    background-color: #636b2f;
    border-color: #636b2f;
    color: white;
  }
  
  .btn-custom:hover {
    background-color: #565b29;
    border-color: #565b29;
  }
  