/* Contenedor de la barra de navegación */
.navbar {
  padding: 15px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.navbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px; /* Grosor de la línea */
  background-color: #636b2f; /* Color verde */
}

/* Estilo para los enlaces del navbar */
.navbar-nav .nav-link {
  font-size: 1.6rem;
  font-weight: 500;
  color: #333;
  padding: 10px 15px;
  transition: all 0.3s ease-in-out;
  position: relative;
}

/* Efecto Hover en los botones */
.navbar-nav .nav-link:hover {
  color: #9eac42;
}

/* Estilo del icono de usuario */
.user-icon {
  font-size: 1.5rem;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Efecto hover en el icono */
.user-icon:hover {
  transform: scale(1.2);
  color: #9eac42;
}


/* Contenedor del logo */
.navbar-brand img {
  height: 100px; /* Ajusta el tamaño del logo */
  max-width: 150px; /* Evita que sea demasiado grande */
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Efecto hover en el logo */
.navbar-brand img:hover {
  transform: scale(1.2); /* Hace un pequeño zoom */
  opacity: 0.8; /* Le da un efecto de opacidad */
}
